
<div class="container" ng-controller="GamesCtrl">
    <button ng-click="deleteLastGame()" ng-show="hasRole('SCOREADMIN')">{{ 'view.games.deletegame.button' | i18n }}</button>
    <form class="form-inline" ng-submit="addNewGame()" ng-show="hasRole('SCOREADMIN')">
        <h5>{{ 'view.games.newgame.title' | i18n }}</h5>
        <select class="span2" ng-model="newGame.teamA[0]">
            <option value="">{{ 'view.games.newgame.tap1.placeholder' | i18n }}</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <select class="span2" ng-model="newGame.teamA[1]">
            <option value="">{{ 'view.games.newgame.tap2.placeholder' | i18n }}</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <input class="span1" type="text" ng-model="newGame.teamAScore">
        <br/>
        <br/>
        <select class="span2" ng-model="newGame.teamB[0]">
            <option value="">{{ 'view.games.newgame.tbp1.placeholder' | i18n }}</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <select class="span2" ng-model="newGame.teamB[1]">
            <option value="">{{ 'view.games.newgame.tbp2.placeholder' | i18n }}</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <input class="span1" type="text" ng-model="newGame.teamBScore">
        <button type="submit" class="btn">{{ 'view.games.newgame.button' | i18n }}</button>
    </form>

    <style>
        .teama{
           /*background-color: #00ff00;*/
           background: rgba(122, 122, 122, .2);
        }

        .teamb{
            background: rgba(80, 80, 80, .2);
        }

        .ui-match1 { background-color: lightyellow !important; }
        .ui-match2 { background-color: lightsalmon !important; }
        .ui-match3 { background-color: lightskyblue !important; }
        .ui-match4 { background-color: lightgreen !important; }

    </style>
    <input class="ui-match1" type="text" ng-model="searchText" placeholder="{{ 'view.games.filter.placeholder' | i18n }}"/>
    <input class="ui-match2" type="text" ng-model="searchText2" placeholder="{{ 'view.games.filter.placeholder' | i18n }}"/>
    <input class="ui-match3" type="text" ng-model="searchText3" placeholder="{{ 'view.games.filter.placeholder' | i18n }}"/>
    <input class="ui-match4" type="text" ng-model="searchText4" placeholder="{{ 'view.games.filter.placeholder' | i18n }}"/>
    <table class="table">
        <thead>
            <th>&nbsp;</th>
            <th colspan="2">{{ 'view.games.table.colta' | i18n }}</th>
            <th colspan="2">{{ 'view.games.table.coltb' | i18n }}</th>

            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>

        </thead>
        <thead>
            <th>{{ 'view.games.table.col1' | i18n }}</th>
            <th>{{ 'view.games.table.col2' | i18n }}</th>
            <th>{{ 'view.games.table.col3' | i18n }}</th>
            <th>{{ 'view.games.table.col4' | i18n }}</th>
            <th>{{ 'view.games.table.col5' | i18n }}</th>
            <th>{{ 'view.games.table.col6' | i18n }}</th>
            <th>{{ 'view.games.table.col7' | i18n }}</th>

        </thead>
        <tbody>

        <!--<tr ng-repeat="game in games | gameListFilter:searchText">-->
        <tr ng-repeat="game in games | gameListFilter:searchText | gameListFilter:searchText2 | gameListFilter:searchText3 | gameListFilter:searchText4 | orderBy:'-playedDate'">
            <td>{{game.playedDate | date:'dd.MM.yyyy HH:mm'}}</td>
            <td class="teama" ng-bind-html-unsafe="game.teamA[0] | playerName | highlight:[searchText, searchText2, searchText3, searchText4]"></td>
            <td class="teama" ng-bind-html-unsafe="game.teamA[1] | playerName | highlight:[searchText, searchText2, searchText3, searchText4]"></td>

            <td class="teamb" ng-bind-html-unsafe="game.teamB[0] | playerName | highlight:[searchText, searchText2, searchText3, searchText4]"></td>
            <td class="teamb" ng-bind-html-unsafe="game.teamB[1] | playerName | highlight:[searchText, searchText2, searchText3, searchText4]"></td>
            <td>{{game.teamAScore}} : {{game.teamBScore}}</td>
            <td>{{game.quality}}</td>

        </tr>
        </tbody>
    </table>
    <!--<form  class="row form-inline">-->

            <!--<div>{{ 'view.games.paging.current' | i18n:[currentListPage + 1] }}</div>-->


                <!--<select class="span2" ng-model="itemsPerPage" ng-change="showMoreItems()">-->
                    <!--<option value="10">10</option>-->
                    <!--<option value="20">20</option>-->
                    <!--<option value="50">50</option>-->
                    <!--<option value="100">100</option>-->
                    <!--<option value="200">200</option>-->
                    <!--<option value="500">500</option>-->
                    <!--<option value="1000">1000</option>-->

                <!--</select>-->
                 <!--<a class="btn btn-primary" ng-click="derateListPage()">{{ 'view.games.paging.button.previous' | i18n }}</a>-->
                 <!--<a class="btn btn-primary" ng-click="raiseListPage()">{{ 'view.games.paging.button.next' | i18n }}</a>-->


    <!--</form>-->



</div>