
<div class="container" ng-controller="GamesCtrl">
    <form class="form-inline" ng-submit="addNewGame()" ng-show="hasRole('SCOREADMIN')">
        <h5>neues Spiel eintragen</h5>
        <select class="span2" ng-model="newGame.teamA[0]">
            <option value="">Team A Pl. 1</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <select class="span2" ng-model="newGame.teamA[1]">
            <option value="">Team A Pl. 2</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <input class="span1" type="text" placeholder="Punkte" ng-model="newGame.teamAScore">
        <br/>
        <br/>
        <select class="span2" ng-model="newGame.teamB[0]">
            <option value="">Team B Pl. 1</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <select class="span2" ng-model="newGame.teamB[1]">
            <option value="">Team B Pl. 2</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <input class="span1" type="text" placeholder="Punkte" ng-model="newGame.teamBScore">
        <button type="submit" class="btn">Ab dafür</button>
    </form>

    <style>
        .teama{
           /*background-color: #00ff00;*/
           background: rgba(122, 122, 122, .2);
        }

        .teamb{
            background: rgba(80, 80, 80, .2);
        }

    </style>
    <input type="text" ng-model="searchText" placeholder="nach Spieler filtern"/>
    <table class="table">
        <thead>
            <th>&nbsp;</th>
            <th colspan="2">Team A</th>
            <th colspan="2">Team B</th>

            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>

        </thead>
        <thead>
            <th>Datum:</th>
            <th>Spieler1:</th>
            <th>Spieler2:</th>

            <th>Spieler1:</th>
            <th>Spieler2:</th>
            <th>Ergebnis:</th>

        </thead>
        <tbody>

        <!--<tr ng-repeat="game in games | gameListFilter:searchText">-->
        <tr ng-repeat="game in games | gameListFilter:searchText | orderBy:'-playedDate'">
            <td>{{game.playedDate | date:'dd.MM.yyyy HH:mm'}}</td>
            <td class="teama">{{game.teamA[0] | playerName}}</td>
            <td class="teama">{{game.teamA[1] | playerName}}</td>

            <td class="teamb">{{game.teamB[0] | playerName}}</td>
            <td class="teamb">{{game.teamB[1] | playerName}}</td>
            <td>{{game.teamAScore}} : {{game.teamBScore}}</td>

        </tr>
        </tbody>
    </table>
    <form  class="row form-inline">

            <div>Seite: {{currentListPage + 1}}</div>


                <select class="span2" ng-model="itemsPerPage" ng-change="showMoreItems()">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>

                </select>
                 <a class="btn btn-primary" ng-click="derateListPage()">Previous</a>
                 <a class="btn btn-primary" ng-click="raiseListPage()">Next</a>


    </form>



</div>