<style>

    div {
        padding-bottom: 20px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
</style>
<div>
    <container>
        <h4>Ihr erster Login</h4>
        Bei ihrem ersten Login müssen Sie ihr Passwort ändern!
        <form class="navbar-form" ng-submit="changePassword()">

            <input class="span3" id="password1" type="password" placeholder="neues Passwort" ng-model="pw1">
            <input class="span3" id="password2" type="password" placeholder="Passwort wiederholen" ng-model="pw2">

            <button class="btn">Passwort erneuern</button>{{message}}

        </form>

        <p>

            <div class="btn btn-success" ng-show="changePWSuccessful" ng-click="closePopUp()">PopUp schliessen </div>
        </p>


    </container>

</div>


