
<div class="container" ng-controller="PlayerCtrl">



    <form class="form-inline" ng-submit="addNewPlayer()" ng-show="hasRole('SCOREADMIN')">
        <h5>neuen Spieler hinzufügen</h5>

        <input class="span3" type="text" placeholder="Spielername" ng-model="newPlayer">

        <button type="submit" class="btn">Ab dafür</button>
    </form>

    <table class="table">
        <thead>
        <th>id:</th>
        <th>Name:</th>
        <th>captured:</th>
        <th>mean:</th>
        <th>standardDeviation:</th>
        <th ng-show="hasRole('SCOREADMIN')">löschen:</th>

        </thead>
        <tbody>
        <tr ng-repeat="player in players">
            <td>{{player.id}}</td>
            <td>{{player.name}}</td>
            <td>{{player.currentScore.captured}}</td>
            <td>{{player.currentScore.mean}}</td>
            <td>{{player.currentScore.standardDeviation}}</td>
            <td ng-show="hasRole('SCOREADMIN')"><button ng-click="removePlayer(player.id)" ng-disabled="player.currentScore.mean > 0">löschen</button></td>
        </tr>
        </tbody>
    </table>






</div>