
<div class="container" ng-controller="BoardCtrl">

    <table class="table">
        <thead>
            <th>Position:</th>
            <th>Name:</th>
            <th>Score:</th>
            <th>Spiele:</th>
            <th>gewonnen:</th>
            <th>verloren:</th>
        </thead>
        <tbody>
          <tr ng-repeat="player in board">
              <td>{{$index + 1}}</td>
              <td>{{player.playerName}}</td>
              <td>{{player.currentMean}}</td>
              <td>{{player.playedGames}}</td>
              <td>{{player.wonGames}}</td>
              <td>{{player.lostGames}}</td>
          </tr>
        </tbody>
    </table>


</div>