
<div class="container" ng-controller="BoardCtrl">

    <table class="table">
        <thead>
            <th>Position:</th>
            <th>Name:</th>
            <th>Score:</th>
            <th>Spiele:</th>
            <th>gewonnen:</th>
            <th>verloren:</th>
        </thead>
        <tbody>
          <tr ng-repeat="player in board">
              <td>{{$index + 1}}</td>
              <td>{{player.name}}</td>
              <td>{{player.currentScore.mean}}</td>
              <td>{{player.games}}</td>
              <td>{{player.wins}}</td>
              <td>{{player.lost}}</td>
          </tr>
        </tbody>
    </table>


</div>