
<div class="container" ng-controller="GamesCtrl">
    <form class="form-inline" ng-submit="addNewGame()">
        <h5>neues Spiel eintragen</h5>
        <select class="span2" ng-model="newGame.teamA[0]">
            <option>0</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <select class="span2" ng-model="newGame.teamA[1]">
            <option>0</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <input class="span1" type="text" placeholder="Punkte" ng-model="newGame.teamAScore">
        <br/>
        <select class="span2" ng-model="newGame.teamB[0]">
            <option>0</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <select class="span2" ng-model="newGame.teamB[1]">
            <option>0</option>
            <option ng-repeat="player in playerNames" value="{{player.id}}">{{player.name}}</option>
        </select>
        <input class="span1" type="text" placeholder="Punkte" ng-model="newGame.teamBScore">
        <button type="submit" class="btn">Ab dafür</button>
    </form>

    <style>
        .won{
           /*background-color: #00ff00;*/
           background: rgba(0, 255, 0, .2);
        }

        .lost{
            background: rgba(255, 0, 0, .4);
        }

    </style>
    <table class="table">
        <thead>
            <th>Datum:</th>
            <th>Spieler1:</th>
            <th>Spieler2:</th>
            <th>Punkte:</th>
            <th>Spieler1:</th>
            <th>Spieler2:</th>
            <th>Punkte:</th>
            <th>Result:</th>
        </thead>
        <tbody>
        <tr ng-repeat="game in games">
            <td>{{game.playedDate}}</td>
            <td>{{game.teamA[0]}}</td>
            <td>{{game.teamA[1]}}</td>
            <td>{{game.teamAScore}}</td>
            <td>{{game.teamB[0]}}</td>
            <td>{{game.teamB[1]}}</td>
            <td>{{game.teamBScore}}</td>
            <td>{{game.result}}</td>
        </tr>
        </tbody>
    </table>




</div>