
<div class="container" ng-controller="HomeCtrl">

    <style>
        .brand{
            display: block;
            margin-left:auto;
            margin-right:auto;
        }
        .kicker{
            display: block;
            padding-bottom: 50px;
            margin-left:auto;
            margin-right:auto;
            opacity:0.4;
            filter:alpha(opacity=40); /* For IE8 and earlier */

        }

    </style>
        <img src="assets/img/kicker2.jpg" class="kicker">
    <style>
        .teama{
            /*background-color: #00ff00;*/
            background: rgba(122, 122, 122, .2);
        }

        .teamb{
            background: rgba(80, 80, 80, .2);
        }

        .game{
            background: rgba(255, 0, 0, .2);
        }
        .WIN_A {
            background: rgba(0, 255, 0, .2);
        }
        .WIN_B {
            background: rgba(0, 255, 0, .2);
        }
        .DRAW {
            background: rgba(0, 255, 0, .2);
        }

    </style>
    <div class="btn" ng-click="startNewPlan()" ng-show="hasRole('SCOREADMIN')">Starte neuen Spieltag</div>
    <h3>Vorgeschlagene Spiele</h3>
    <table class="table">
        <thead>

        <th colspan="2">{{ 'view.games.table.colta' | i18n }}</th>
        <th colspan="2">{{ 'view.games.table.coltb' | i18n }}</th>

        <th>&nbsp;</th>

        </thead>
        <thead>

        <th>{{ 'view.games.table.col2' | i18n }}</th>
        <th>{{ 'view.games.table.col3' | i18n }}</th>
        <th>{{ 'view.games.table.col4' | i18n }}</th>
        <th>{{ 'view.games.table.col5' | i18n }}</th>
        <th>{{ 'view.games.table.col6' | i18n }}</th>

        </thead>
        <tbody>

        <!--<tr ng-repeat="game in games | gameListFilter:searchText">-->
        <tr ng-repeat="game in currentPlan.plan">

            <td class="teama">{{game.teamA[0] | playerName}}</td>
            <td class="teama">{{game.teamA[1] | playerName}}</td>

            <td class="teamb">{{game.teamB[0] | playerName}}</td>
            <td class="teamb">{{game.teamB[1] | playerName}}</td>
            <td class="game {{ game.result}}">{{game.teamAScore}} : {{game.teamBScore}}</td>

        </tr>
        </tbody>
    </table>






</div>