
<div class="container">



          <h3>Regeln</h3>
    <h4>Allgemein</h4>
    <ul>
        <li><b>Gespielt werden 2 Gewinnsätze</b></b><br>Ausnahmen können vor dem Spiel besprochen werden</li>
        <li><b>Ein Gewinnsatz geht bis 10</b></li>
        <li><b>Es gilt "make  it -> take it"</b></br>Also, wer den Punkt macht hat Einwurf</li>
        <li><b>Das Kurbeln ist verboten!</b></br> Die Figur bzw die Stange dürfen sich maximal um 360 Grad drehen.</li>
        <li><b>Bälle die ins Tor gehen und dann wieder zurück auf die Spielfläche springen, zählen als Tor</b></li>
        <li><b>Springt der Ball aus dem Spielfeld raus,</b></br> wird er dort eingeworfen, wo er herausgesprungen ist.</li>
    </ul>

    <h4>2 vs 2</h4>

    <p>Im Spiel <b>2 gegen 2</b> gilt zusätzlich:</p>

    <ul>
        <li><b>Mittelfeldtore zählen nicht</b><br/>

            Ein Mittelfeldtor ist, ein Tor, bei dem ein gegnerischer Mittelfeldspieler den Ball zuletzt beschleunigt hat.
            <p>Somit sind <ul><li>Abpraller (geblockte Angriffe, sofern sie ohne Beschleunigung geschehen)</li>
                <li>Abfälscher</li>
            <li>Eigentore</li></ul>
            keine Mittelfeldtore und werden somit normal gezählt.</p>
         Im Falle eines Mittelfeldtores, bekommt der Abwehrspieler des Teams auf dessen Seite das Tor gefallen ist, den Ball.
        </li>
    </ul>

     <h5>Mehr fällt mir gerade nicht ein... Wenn Euch noch etwas einfällt, gerne an mich!</h5>


</div>