
<div class="container">



          <h3>{{ 'view.rules.header' | i18n }}</h3>
    <h4>{{ 'view.rules.general.header' | i18n }}</h4>
    <ul>
        <li><b>{{ 'view.rules.general.li1.header' | i18n }}</b>
            <br>{{ 'view.rules.general.li1.subtext' | i18n }}</li>
        <li><b>{{ 'view.rules.general.li2.header' | i18n }}</b></li>
        <li><b>{{ 'view.rules.general.li3.header' | i18n }}</b>
            </br>{{ 'view.rules.general.li3.subtext' | i18n }}</li>
        <li><b>{{ 'view.rules.general.li4.header' | i18n }}</b>
            </br> {{ 'view.rules.general.li4.subtext' | i18n }}</li>
        <li><b>{{ 'view.rules.general.li5.header' | i18n }}</b></li>
        <li><b>{{ 'view.rules.general.li6.header' | i18n }}</b>
            </br>{{ 'view.rules.general.li6.subtext' | i18n }}</li>
    </ul>

    <h4>{{ 'view.rules.2v2.header' | i18n }}</h4>

    <p>{{ 'view.rules.2v2.subheader' | i18n }}</p>

    <ul>
        <li><b>{{ 'view.rules.2v2.li1.header' | i18n }}</b><br/>

            {{ 'view.rules.2v2.li1.subtext' | i18n }}
            <p>{{ 'view.rules.2v2.li1.ul.header' | i18n }}
                <ul>
                    <li>{{ 'view.rules.2v2.li1.li1' | i18n }}</li>
                    <li>{{ 'view.rules.2v2.li1.li2' | i18n }}</li>
                    <li>{{ 'view.rules.2v2.li1.li3' | i18n }}</li>
            </ul>
            {{ 'view.rules.2v2.li1.ul.footer' | i18n }}</p>
            {{ 'view.rules.2v2.li1.footer' | i18n }}
        </li>
    </ul>

     <h5>{{ 'view.rules.footer' | i18n }}</h5>


</div>