
<div class="container" ng-controller="AdminCtrl">



    <form class="form-inline" ng-submit="addNewUser()" ng-show="hasRole('APPADMIN')">
        <h5>neuen Benutzer hinzufügen</h5>

        <input class="span3" type="text" placeholder="Benutzername" ng-model="newUser">
        <input class="span3" type="text" placeholder="first password" ng-model="newUserPassword" disabled="true">

        <button type="submit" class="btn">Ab dafür</button>
    </form>

    <table class="table">
        <thead>
        <th>id:</th>
        <th>Name:</th>
        <th colspan="2">Rollen:</th>
        <th>löschen</th>

        </thead>
        <tbody>

        <tr ng-repeat="user in userList">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>
               <div class="btn-group" bs-buttons-checkbox>

                   <button type="button" class="btn" ng-model="user.roles.APPADMIN">APPADMIN</button>
                   <button type="button" class="btn" ng-model="user.roles.SCOREADMIN">SCOREADMIN</button>
                   <button type="button" class="btn" ng-model="user.roles.USER">USER</button>

                </div>

            </td>
            <td>
                <div class="btn" ng-click="saveRoles(user)">
                               SAVE
                </div>
            </td>
            <td><div class="icon-remove" ng-click="deleteUser(user.id)" ng-show="user.name != 'admin'"></div> </td>
        </tr>
        </tbody>
    </table>

</div>